<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <div class="log_in_box">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field" style="margin: 20px 0; text-align: center;">
            <%= f.label :email %><br />
            <%= f.text_field :email, autofocus: true, class: "email" %>
          </div>

          <div class="field" style="margin: 20px 0; text-align: center;">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field" style="margin: 20px 0; text-align: center;">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
          <div class="row">
            <div class="col-xs-12">
              <div class="actions text-center" style="text-align: center;">
                <%= f.submit "Log in", class: "btn btn-info" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="google text-center">
                <%= link_to user_google_oauth2_omniauth_authorize_path do %>
                  <a class="btn btn-primary">
                    <span class="fa fa-google"></span> Sign in with Google </a>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

